@use '../../../../styles/variables' as vars;

.product-card,
.wrapper {
    display: flex;
    flex-direction: column;
}

.product-card {
    cursor: pointer;

    .wrapper {
        background: vars.$lightest-grey;
        position: relative;

        span {
            align-self: flex-end;
        }

        .thumbnail {
            display: flex;
            position: relative;
            width: 100%;
            height: auto;
            aspect-ratio: 1/1.25;

            img {
                position: relative;
                object-fit: cover;

                &.slide-in-left {
                    animation: slideInLeft 0.8s forwards;
                }

                &.slide-in-right {
                    animation: slideInRight 0.8s forwards;
                }
            }

            @keyframes slideInLeft {
                from {
                    transform: translateX(-1rem);
                }
                to {
                    transform: translateX(0);
                }
            }

            @keyframes slideInRight {
                from {
                    transform: translateX(1rem);
                }
                to {
                    transform: translateX(0);
                }
            }
        }

        .add-to-bag-button {
            background: vars.$white;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 80%;
            left: 50%;
            transform: translateX(-50%);
            padding: 0.75em 1.75em;
            text-transform: uppercase;
            text-wrap: nowrap;
            opacity: 0.7;
            transition: opacity 0.3s ease-in-out;

            &:hover {
                opacity: 1;
            }
        }

        footer {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
            padding: 1em 1em 0.5em 1em;

            @media (max-width: 1023px) {
                display: block;
            }
        }
    }

    .product-info {
        display: flex;
        flex-direction: column;
        gap: 0.05em;
        padding-top: 0.5em;

        & ul {
            margin-top: 0.5em;
            margin-left: -0.15em;
        }
    }
}

.wishlist-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    align-self: flex-end;
    position: absolute;
    top: 0.75em;
    right: 0.75em;
    z-index: 60;

    &:hover {
        opacity: 0.7;
    }
}
