@use '../../../styles/variables' as vars;

.product-list {
    padding-block: 2em;
    padding-inline: vars.$layout-inline-padding;

    .wrapper-products {
        display: flex;
        position: relative;

        &.with-gap {
            gap: 3em;
        }

        &.no-gap {
            gap: 0;
        }

        .wrapper-inner {
            flex: 1 1 83%;

            .products {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                column-gap: 0.75em;
                row-gap: 2.5em;
            }

            & > button {
                margin-inline: auto;
                margin-top: 4em;
                width: 20ch;
                flex-grow: 0;
            }
        }
    }
}
