@use '../../../styles/variables' as vars;
@use '../../../styles/animations' as anim;

.product-list {
    margin-bottom: 2em;
    @include anim.animate-fade-in(1.2s);

    .sentinel {
        height: 0.1em;
    }

    header {
        background: vars.$white;
        z-index: 20;
        padding-top: 1.25em;
        transition: border-bottom 0.3s ease;
        position: sticky;
        top: 0;

        &.sticky {
            border-bottom: 0.1em solid vars.$medium-grey;
        }
    }

    .wrapper-products {
        display: flex;
        padding-inline: vars.$layout-inline-padding;

        &.with-gap {
            gap: 3em;
        }

        &.no-gap {
            gap: 0;
        }

        .wrapper-inner {
            flex: 1 1 83%;
        }
    }
}
