@use '../../../../styles/variables' as vars;

.related-products {
    margin-block: 3em;

    h4 {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.4em;
        margin-left: var(--layout-inline-padding);
        margin-bottom: 1.2em;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 0.5em;

        li {
            background: vars.$lightest-grey;
        }
    }
}
