.product-list {
    padding: var(--layout-inline-padding);
    display: flex;
    flex-direction: column;
}

.product-list h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.2em;
    letter-spacing: 0.1em;
}

.product-list > nav {
    margin-bottom: 1.5em;
}

.product-list > nav > ul {
    display: flex;
    justify-content: space-between;
}

.product-list > nav > ul > li {
    position: relative;
}

.product-list > nav > ul > li > span {
    position: absolute;
    z-index: 20;
    top: 2.5em;
    right: 0;
    width: fit-content;
    background: var(--white);
    padding: 1.5em;
    padding-right: 3.5em;
    box-shadow: 0 0 0.6em 0 rgb(0, 0, 0, 0.3);
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.product-list > nav > ul > li > span > button {
    text-transform: uppercase;
}

.product-list > div {
    display: flex;
    gap: 3em;
}

.product-list > div section {
    flex: 0 1 auto;
}

.product-list > div section ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0.75em;
    row-gap: 2.5em;
    width: 100%;
}

@media (max-width: 1400px) {
    .product-list > div section ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1020px) {
    .product-list > div section ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .product-list > div section ul {
        grid-template-columns: repeat(1, 1fr);
    }
}
