.product-list {
    padding: var(--layout-inline-padding);
    display: flex;
    flex-direction: column;
}

.product-list h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.2em;
    letter-spacing: 0.1em;
}

.product-list > nav {
    margin-bottom: 1.5em;
}

.product-list > nav > ul {
    display: flex;
    justify-content: space-between;
}

.product-list > div {
    display: flex;
    gap: 3em;
}

.product-list > div section {
    flex: 0 1 auto;
}

.product-list > div section ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0.75em;
    row-gap: 2.5em;
    width: 100%;
}

@media (max-width: 1020px) {
    .product-list > div section ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .product-list > div section ul {
        grid-template-columns: repeat(1, 1fr);
    }
}
