@use '../../../../styles/variables' as vars;

.main-content {
    display: flex;
    justify-content: space-between;
    gap: 2em;

    @media (max-width: 1000px) {
        flex-direction: column;
        padding: var(--layout-inline-padding);
    }
}
