@use "../../../styles/variables" as vars;
@use "../../../styles/animations" as anim;

.checkout {
    display: flex;
    gap: 2em;
    @include anim.animate-fade-in(1.5s);

    .wrapper-left {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        gap: 2em;
    }

    .checkout-button-container {
        display: flex;
    }
}
