.flex-text-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.highlighted {
    font-weight: 500;
}

.subtle {
    opacity: 0.6;
}

.increased-font-size {
    font-size: 1.15em;
}
