.flex-text-row {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.highlighted {
    font-weight: 500;
}

.subtle {
    opacity: 0.6;
    font-size: 0.9em;
}

.increased-font-size {
    font-size: 1.15em;
}
