@use '../../styles/variables' as vars;

.chatbot {
    position: fixed;
    height: 482px;
    background: vars.$white;
    right: 0.6em;
    bottom: 0;
    z-index: 200;
    width: 368px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0.8em 0 rgb(0, 0, 0, 0.6);
    font-size: 0.98em;

    & > div {
        padding: 1.25em;
    }

    .header {
        background: vars.$black;
        color: vars.$white;
    }

    .no-messages-yet {
        margin-top: 4em;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 1em 1.75em;

        h4 {
            font-weight: 500;
            margin-bottom: 0.2em;
        }

        & p:last-of-type {
            margin-top: auto;
            font-size: 0.75em;
        }

        button {
            margin-top: auto;
        }
    }

    .messages {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 1em 1.75em;
        overflow-y: auto; // Changed from 'overflow: scroll' to 'overflow-y: auto'
        scroll-behavior: smooth; // Add smooth scrolling behavior

        .wrapper {
            margin-top: 1.75em;
            display: flex;
            flex-direction: column;
            gap: 1.75em;

            .message-content {
                padding: 0.75em;
                border-radius: 0.5em;
                padding: 0.75em;
            }

            .time-span {
                opacity: 0.9;
                font-size: 0.85em;

            }

            & > div {
                display: flex;
                flex-direction: column;
                margin-left: 2em;
            }

            & > span {
                margin-top: 0.5em;
                align-self: center;
            }

            & > div:nth-of-type(odd) {
                position: relative;
                margin-right: 2em;

                .thumbnail {
                    width: 2.15em;
                    display: flex;
                    position: absolute;
                    left: -2.5em;
                    bottom: 1em;
                }

                .message-content {
                    background: vars.$light-grey;
                    border-bottom-left-radius: 0;
                }
            }

            & > div:nth-of-type(even) {
                .message-content {
                    background: vars.$black;
                    color: vars.$white;
                    border-bottom-right-radius: 0;
                }
            }
        }
    }

    .text-area {
        display: flex;
        position: relative;

        textarea {
            flex-grow: 1;
            border: 0.08em solid vars.$black;
            border-radius: 0.2em;
            height: 2em;
            white-space: pre-wrap;
            word-wrap: break-word;
            overflow-wrap: break-word;
            overflow-x: hidden;
            resize: vertical;
            overflow-y: auto;

            padding-right: 3em;
        }

        .send-button {
            position: absolute;
            top: 2.25em;
            right: 2em;
            display: none;
            transition: opacity 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }

            &.visible {
                display: block;
            }
        }
    }
    .ref-div {
        background: white !important;
        height: 0 !important;
        padding: 0 !important;
        margin-top: -1.75em !important;
    }
}
