.product-item {
    display: flex;
}

.wrapper-left {
    flex: 0 0 60%;
    display: flex;
    /* flex-direction: column; */
    gap: 0.5em;
}

.wrapper-left .thumbnail {
    display: flex;
    align-items: flex-start;
}

.wrapper-left .thumbnail img {
    object-fit: contain;
    background: var(--lightest-grey);
}

.wrapper-right {
    flex: 0 0 28%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.wrapper-right h2 {
    font-size: 1.8em;
    font-style: italic;
    display: flex;
    column-gap: 0.25em;
    flex-wrap: wrap;
    line-height: 1.2;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.wrapper-right h2 sup {
    margin-left: -0.2em;
    margin-top: -0.2em;
    font-weight: 200;
    opacity: 0.8;
    font-size: 1.3em;
}

.wrapper-right h2 span {
    white-space: nowrap;
}

.wrapper-right .wrapper-top > p {
    opacity: 0.8;
    margin-bottom: 0.75em;
}

.wrapper-right .wrapper-top {
    margin-bottom: 1em;
}

.wrapper-right .wrapper-top > span:nth-of-type(1) {
    display: block;
}

.wrapper-right .wrapper-top > span:nth-of-type(1) {
    margin-bottom: 1.5em;
}

.wrapper-right .wrapper-top > span:nth-of-type(2) {
    margin-bottom: 0.5em;
}

.sizes-title {
    margin-bottom: 1em;
}

.image-sizes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.3em;
    margin-bottom: 1em;
}

.image-size-wrapper {
    display: flex;
    flex-direction: column;
}

.size-thumbnail {
    display: flex;
    border: 0.1em solid var(--medium-grey);
    position: relative;
}


.size-thumbnail img {
    z-index: 10;
}

.image-sizes .image-size-wrapper span {
    color: var(--dark-grey);
    padding-inline: 0.2em;

}

.size-price {
    padding-inline: 0.2em;
    position: absolute;
    left: 50%;
    bottom: -1em;
    background: white;
    transform: translate(-50%, 0);
    box-shadow: 0 0 0.2em 0 rgb(0,0,0,0.3);
}

.image-sizes .image-size-wrapper span.size-title {
    position: absolute;
    top: -0.75em;
    left: 0.25em;
    background: var(--white);

}

.image-sizes .image-size-wrapper:nth-child(1) img {
    scale: 0.6;
}

.image-sizes .image-size-wrapper:nth-child(2) img {
    scale: 0.7;
}

.image-sizes .image-size-wrapper:nth-child(3) img {
    scale: 0.8;
}



