<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .field {
            color: red,
        }
    </style>
    <!-- <form method="POST" action="{% url 'logout' %}"> -->
        <form method="POST" action="#">
            {% csrf_token %}

            
            {% for field in form%}
            {{field}}
            {{field.label_tag}}
            {%if field.errors%}
            {{field.errors}}
            {%endif%}
            {%endfor%}
            <button>Logout</button>
        </form>

        <form action="">
            {% for field in form %}
                <input 
                    type="{{ field.widget_type }}"
                    name="{{field.html_name}}"
                    id="{{field.id_for_label}}"
                >

            {% endfor %}
        </form>

        <form action="">
            {{ form.as_div}}
        </form>
    </body>
    </html>

                