@use '../../../styles/variables' as vars;
@use '../../../styles/animations' as anim;

.login {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @include anim.animate-fade-in(1.5s);

    h2 {
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 0.75em;
    }

    & > p {
        opacity: 0.6;
        font-style: italic;
        margin-bottom: 1em;
    }
}
