.product-card {
    display: flex;
    flex-direction: column;
}

.product-card,
.product-card .wrapper-top {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75em;
}

.product-card .wrapper-top {
    background-color: var(--light-grey);
}

.product-card .thumbnail {
    display: flex;
}

.wrapper-bottom {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    font-size: 0.9em;
}

.wrapper-bottom span:nth-child(2) {
    opacity: 0.7;
}