.product-card {
    display: flex;
    flex-direction: column;
}

.user-action {
    background-color: var(--lightest-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em;
}

.product-card,
.product-card .wrapper-top {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75em;
}

.product-card .wrapper-top {
    background-color: var(--lightest-grey);
}

.product-card .thumbnail {
    display: flex;
}

.wrapper-bottom {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.wrapper-bottom span:nth-child(2) {
    opacity: 0.7;
}

.switch-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25em;
}