@use '../../../../styles/variables' as vars;

.home-link {
    display: flex;
    gap: 0.5em;
    opacity: 0.5;
    font-size: 0.9em;
    margin-bottom: 2em;
    padding-inline: vars.$layout-inline-padding;

    a {
        color: vars.$black;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
