.login {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.login h2 {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0.75em;
}

.login p {
    opacity: 0.6;
    font-style: italic;
    margin-bottom: 1em;
}

.invalid-username-password {
    background: #fdf4f4;
    border: 0.1em solid var(--red);
    padding: 1em;
    margin-bottom: 1em;
}

.invalid-username-password p {
    color: var(--red);
    margin-bottom: 0;
    opacity: 1;
}
