@use '../../../../../../styles/variables' as vars;

.button {
    background-color: vars.$medium-grey-darker;
    width: 0.6em;
    height: 0.6em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    transition: background-color 0.3s ease-in-out;

    &:disabled {
        background-color: vars.$light-black;
        cursor: auto;
    }

    &:hover {
        background-color: vars.$black;
    }
}
