@use "../../../../../../styles/variables" as vars;

.button {
    background: vars.$black;
    opacity: 0.6;
    width: 0.6em;
    height: 0.6em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    transition: opacity 0.3s ease-in-out;

    &:disabled {
        opacity: 1;
        cursor: auto;
    }
}
