<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DRF React Gems</title>
    </head>
    <body style="display: flex; justify-content: center">
        <div
            style="
                display: flex;
                justify-content: center;
                border: 3px solid #d6d6d6;
                border-radius: 20px;
                margin: 3%;
                max-width: 620px;
                line-height: 1.5;
                letter-spacing: 1px;
            "
        >
            <div>
                <h1
                    style="
                        margin-left: 3%;
                        margin-right: 3%;
                        font-size: 18px;
                        text-align: center;
                        color: rgb(65, 63, 63);
                        font-family: 'Lucida Sans', 'Lucida Sans Regular',
                            'Lucida Grande', 'Lucida Sans Unicode', Geneva,
                            Verdana, sans-serif;
                    "
                >
                    Welcome to DRF React Gems, {{ user.username }}!
                </h1>
                <p
                    style="
                        max-width: 620px;
                        font-size: 16px;
                        padding-left: 3%;
                        padding-right: 3%;
                        padding-bottom: 2%;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
                            'Trebuchet MS', sans-serif;
                    "
                >
                    Thank you for joining our community, where every piece tells
                    a story. We're excited to have you on board!
                </p>
                <p
                    style="
                        max-width: 620px;
                        font-size: 16px;
                        padding-left: 3%;
                        padding-right: 3%;
                        padding-bottom: 2%;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
                            'Trebuchet MS', sans-serif;
                    "
                >
                    In your profile, you can save addresses for faster checkout,
                    view your order history and update your password
                    preferences.
                </p>
                <p
                    style="
                        max-width: 620px;
                        font-size: 16px;
                        padding-left: 3%;
                        padding-right: 3%;
                        padding-bottom: 2%;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
                            'Trebuchet MS', sans-serif;
                    "
                >
                    Start exploring our unique collection and add your favorite
                    items to your wishlist!
                </p>
                <p
                    style="
                        max-width: 620px;
                        font-size: 16px;
                        padding-left: 3%;
                        padding-right: 3%;
                        padding-bottom: 2%;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
                            'Trebuchet MS', sans-serif;
                        text-align: center;
                    "
                >
                    <a
                        href="https://drf-react-gems.web.app"
                        style="
                            display: inline-block;
                            padding: 10px 20px;
                            background-color: #2334a3;
                            color: #fff;
                            border-radius: 5px;
                            text-decoration: none;
                            font-weight: bold;
                        "
                    >
                        Visit DRF React Gems
                    </a>
                </p>
                <p
                    style="
                        max-width: 620px;
                        font-size: 16px;
                        padding-left: 3%;
                        padding-right: 3%;
                        padding-bottom: 2%;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
                            'Trebuchet MS', sans-serif;
                    "
                >
                    Sincerely,<br />
                    The DRF React Gems Team
                </p>
            </div>
        </div>
    </body>
</html>
