@use "../../../styles/variables" as vars;
@use "../../../styles/animations" as anim;

.home {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    @include anim.animate-fade-in(1.5s);
}

.thumbnail {
    display: flex;
}

.wrapper-top {
    height: 70dvh;
    position: relative;
}

.hero-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 22%;
    padding-left: 1em;
    padding-bottom: 2em;
}

.wrapper-bottom {
    display: flex;
    gap: 0.5em;
    margin-bottom: 2.5em;

    .thumbnail:first-child {
        padding-left: 6em;
    }

    .thumbnail:nth-child(2) {
        padding-right: 5em;
    }
}
