@use '../../../../../styles/variables' as vars;

form.delivery-form {
    flex-direction: row;
    flex-wrap: wrap;

    div:nth-of-type(1),
    div:nth-of-type(2),
    div:nth-of-type(4),
    div:nth-of-type(5) {
        flex: 1 1 45%;
    }

    div:nth-of-type(3) {
        flex: 1 1 100%;
    }

    div:nth-of-type(6),
    div:nth-of-type(7) {
        flex: 1 1 30%;
    }

    div:nth-of-type(8) {
        flex: 1 1 100%;
    }
}
