.return-policy {
    display: grid;
    grid-template-columns: 1.5em auto;
    gap: 0.85em;

    span {
        opacity: 0.7;
        text-decoration: underline;
        text-underline-offset: 0.1em;
        font-size: 0.9em;
    }
}

.content {
    margin: auto 5em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    span {
        font-weight: 600;
    }

    p {
        font-weight: 300;
    }
}
