@use '../../../../styles/variables' as vars;

.details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 3em;

    .photo {
        padding: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        h4 {
            text-transform: uppercase;
        }
    }

    .section-title {
        font-size: 1.5rem;
        font-weight: 600;
        color: vars.$black;
        margin: 0 0 1.5rem 0;
        text-align: center;
    }

    .user-image {
        width: 12em;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
    }
}
