@use '../../../styles/variables' as vars;

.main-nav {
    width: 100%;

    & > ul {
        display: flex;
        gap: 2.5em;

        @media (max-width: 900px) {
            gap: 1.5em;
        }

        & li a {
            font-size: 0.94em;
            text-transform: uppercase;
            opacity: 0.6;
            font-weight: 500;
            transition: opacity 0.3s ease-in-out;
            color: vars.$black;
            text-decoration: none;

            &:hover {
                opacity: 1;
            }
        }

        & li a.active-link {
            opacity: 1;
        }
    }
}
