@use '../../../../styles/variables' as vars;

.shopping-bag-summary-item {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    

    .thumbnail {
        display: flex;
        flex: 0 0 25%;
        background-color: vars.$lightest-grey;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        flex: 1 1 auto;

        & p:last-child {
            margin-top: auto;
        }
    }

    & span:nth-child(1), 
    & span:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 0.25em;
        justify-content: space-between;
    }
}