.password-validation-scale {
    display: none;
    gap: 0.2rem;
    margin-top: 1em;
}

.password-validation-scale li {
    flex-grow: 1;
    background: var(--medium-grey);
    height: 0.4rem;
}

.password-validation-scale li.valid {
    background: var(--green);
}

.password-criteria {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 0.25em;
    color: var(--dark-grey);
    margin-block: 1.5em;
}

.password-criteria li {
    position: relative;
    display: flex;
    left: 1em;
    color: var(--black);
    opacity: 0.9;
    font-size: 0.9em;
}

.password-criteria li::before,
.password-criteria li::after {
    position: absolute;
    left: -1em;
    top: -0.1em;
    font-size: 1.2em;
}

.password-criteria li::before {
    content: '\2717';
    color: var(--dark-grey);
    display: inline-block;
}

.password-criteria li::after {
    content: '\2713';
    color: var(--green);
    display: none;
}

.password-criteria li.valid::before {
    display: none;
}

.password-criteria li.valid::after {
    display: inline-block;
}

.terms-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: 1em;
}

.terms-wrapper label {
    opacity: 0.5;
    font-weight: 500;
    letter-spacing: 0.03em;
}

.terms-wrapper input[type='checkbox'] {
    appearance: none;
    position: relative;
    aspect-ratio: 1 / 1;
    border: 0.15em solid var(--medium-grey);
    z-index: 0;
    border-radius: 0.1em;
    align-self: flex-start;
    font-size: 0.7em;
}

.terms-wrapper input[type='checkbox']:not(:placeholder-shown):invalid {
    border-color: var(--red);
}

.terms-wrapper input[type='checkbox']:not(:placeholder-shown):invalid ~ label {
    color: var(--red);
}

.terms-wrapper input[type='checkbox']::after,
.terms-wrapper input[type='checkbox']::before {
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
}

.terms-wrapper input[type='checkbox']::after {
    content: '';
    background: var(--black);
    width: 100%;
    aspect-ratio: 1 / 1;
}

.terms-wrapper input[type='checkbox']::before {
    content: '\2713';
    color: var(--white);
    z-index: 2;
    font-size: 1.2em;
}

.terms-wrapper input[type='checkbox']:checked::before {
    opacity: 1;
}

.terms-wrapper input[type='checkbox']:checked::after {
    opacity: 1;
}

.terms-wrapper .agree {
    font-size: 0.8em;
    opacity: 0.7;
}
