@use '../../../styles/variables' as vars;

.password-validation-scale {
    display: none;
    gap: 0.2rem;
    margin-top: 0.5em;

    li {
        flex-grow: 1;
        background: vars.$medium-grey;
        height: 0.4rem;

        &.valid {
            background: vars.$green;
        }
    }
}

.password-criteria {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 0.25em;
    color: vars.$dark-grey;
    margin-block: 1em;

    li {
        position: relative;
        display: flex;
        left: 1em;
        color: vars.$black;
        opacity: 0.9;

        &::before,
        &::after {
            position: absolute;
            left: -1em;
            top: -0.1em;
            font-size: 1.2em;
        }

        &::before {
            content: '\2717';
            color: vars.$dark-grey;
            display: inline-block;
        }

        &::after {
            content: '\2713';
            color: vars.$green;
            display: none;
        }

        &.valid {
            &::before {
                display: none;
            }

            &::after {
                display: inline-block;
            }
        }
    }
}
