.footer {
    background: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    padding-block: 2em;
    align-items: center;
    gap: 0.75em;
}

.footer h5 {
    text-transform: uppercase;
    font-weight: 600;
}

.footer a {
    text-decoration: none;
    color: var(--white);
}

.footer a,
.footer span {
    display: flex;
    align-items: center;
    gap: 0.5em;
}
