@use '../../../../../styles/variables' as vars;

.user-action {
    flex: 0 1 26%;
    margin-inline: auto;
    position: sticky;
    margin-top: 4.3em;
    top: 4.3em;
    height: 100%;

    & > h1 {
        text-transform: uppercase;
    }

    & > h1,
    & > p {
        display: flex;
        gap: 0.25em;
    }

    & > p:not(:first-of-type) {
        margin-block: 1.25em;
    }

    .buttons-wrapper {
        display: flex;
        gap: 0.25em;
        margin-bottom: 1em;
    }

    .error {
        color: vars.$red;
    }

    .error-alert {
        background-color: rgba(255, 0, 0, 0.1);
        border: 1px solid vars.$red;
        border-radius: 0.1em;
        padding: 0.75em;
        margin-bottom: 1em;

        p {
            color: vars.$red;
            margin: 0;
            font-weight: 500;
        }
    }

    .price-display {
        transition: all 0.3s ease-in-out;

        span {
            transition: opacity 0.3s ease-in-out;
        }

        &.selected-price {
            font-weight: 500;
            font-size: 1.1em;
            color: vars.$dark-grey;
        }
    }

    .invisible {
        visibility: hidden;
    }

    p:last-of-type {
        margin-block: 0.75em;
    }
}

.mini-bag-header {
    display: flex;
    gap: 0.5em;
    align-items: center;

    h3 {
        margin-bottom: 0;
    }

    span {
        background: vars.$lightest-grey;
        padding: 0.25em 0.75em;
        border-radius: 5em;
    }
}

.shopping-bag-list {
    margin-block: 1em;
    padding-block: 1em;
    border-top: 0.1em solid vars.$medium-grey;
    border-bottom: 0.1em solid vars.$medium-grey;
    overflow-y: auto;
    height: 68%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.mini-bag-buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.total-price-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 0.5em;
}
