@use '../../../styles/variables' as vars;

.order-summary {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: var(--layout-inline-padding);
    height: 100%;
    flex: 0 0 36%;
    gap: 1.25em;

    h3 {
        text-transform: uppercase;
    }

    & button:not(:only-child):first-of-type {
        margin-block: 1.25em;
    }

    div.price-info {
        display: flex;
        flex-direction: column;
        gap: 0.75em;

        p:nth-of-type(2) {
            margin-bottom: 1em;
            padding-bottom: 1em;
            border-bottom: 0.1em solid vars.$medium-grey;
        }
    }

    div.price-info ~ div.children {
        margin-top: 2em;
    }

    .children {
        display: flex;
        flex-direction: column;
    }
}
