.order-summary {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 2em;

    h3 {
        text-transform: uppercase;
    }

    button {
        margin-bottom: 1.25em;
    }

    > div:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        gap: 0.45em;

        p:nth-last-of-type(2) {
            margin-bottom: 1em;
            padding-bottom: 1em;
            border-bottom: 0.1em solid var(--medium-grey);
        }
    }
}
