@use '../../../styles/variables' as vars;

.padded-container {
    padding: var(--layout-inline-padding) var(--layout-inline-padding-desktop);
}

.padded-container--white {
    background-color: vars.$white;
}

.padded-container--lightest-grey {
    background-color: vars.$lightest-grey;
}
