.nav-item {
    text-decoration: none;
    color: var(--black);
    opacity: 0.6;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    font-weight: 500;
    transition: opacity 0.3s ease-in-out;
}

.nav-item:hover {
    opacity: 1;
}
