.selection-content {
    padding: 0.5em 1em;
    align-items: center;
    position: relative;
    display: flex;
    align-items: center;
}

.selection-content > button {
    display: flex;
    gap: 0.75em;
}

.selection-content > button div {
    display: none;
}

.selection-content > button > span:nth-child(1) {
    width: 1.3em;
    height: 1.3em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    -webkit-clip-path: view-box;
    clip-path: view-box;
    display: block;
    margin: 0;
}

.selection-content > button > span:nth-child(2) {
    display: flex;
    gap: 0.25em;
}

.selection-content > button > span:nth-child(2) span:nth-child(2) {
    opacity: 0.5;
}

.selected {
    background: var(--light-grey);
    cursor: auto;
}

.x-mark {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    right: 1em;
}

.selection-content svg {
    width: 1.1em;
    aspect-ratio: 1/1;
    line-height: 1;
}
