.delivery {
    display: flex;
    align-items: center;
    gap: 0.25em;

    &.large {
        font-size: 1.4em;
    }

    span {
        &:nth-of-type(2) {
            opacity: 0.6;
            font-size: 0.8em;
        }
    }
}
