@use '../../../../styles/variables' as vars;

.filter-list {
    width: 250px;
    // flex: 0 1 200px;
    transition:
        width 0.3s ease,
        opacity 0.3s ease,
        transform 0.3s ease;
    opacity: 1;
    transform: translateX(0);
    overflow-y: auto;
}

.filter-list.visible {
    height: 100%;
    position: sticky;
    top: 3.8em;

    @media (max-width: 980px) {
        position: absolute;
        z-index: 40;
        background: vars.$white;
        top: 1em;
        left: 0;
        width: 100%;
    }
}

.filter-list.hidden {
    width: 0;
    opacity: 0;
    transform: translateX(-1rem);
    pointer-events: none;
}
