.filter-list {
    width: 17%;
    transition:
        width 0.3s ease,
        opacity 0.3s ease,
        transform 0.3s ease;
    opacity: 1;
    transform: translateX(0);
    overflow-y: auto;
}

.filter-list.visible {
    height: 100%;
    position: sticky;
    top: 3.8em;
}

.filter-list.hidden {
    width: 0;
    opacity: 0;
    transform: translateX(-1rem);
    pointer-events: none;
}
