@use '../../../styles/animations' as anim;
@use '../../../styles/variables' as vars;

.shopping-bag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: vars.$layout-inline-padding
        calc(vars.$layout-inline-padding) * 3;
    @include anim.animate-fade-in(1s);

    h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
    }

    .wrapper {
        display: flex;
        gap: 3em;

        .wrapper-left {
            display: flex;
            flex-direction: column;
            gap: 1.5em;
        }

        & > section {
            margin-top: 3.5em;
        }
    }
}
