@use '../../../styles/animations' as anim;

.shopping-bag {
    display: flex;
    gap: 3em;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-bottom: 6em;
    @include anim.animate-fade-in(1s);

    h2 {
        flex: 0 0 100%;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
    }
}

.wrapper-left {
    flex: 0 0 41%;
}

.wrapper-right {
    flex: 0 0 22%;
    display: flex;
    flex-direction: column;

    button {
        margin-top: 1.25em;
        flex-grow: 0;
    }
}
