@use '../../../styles/animations' as anim;

.shopping-bag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include anim.animate-fade-in(1.5s);

    h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
    }

    .wrapper {
        display: flex;
        gap: 3em;

        .wrapper-left {
            display: flex;
            flex-direction: column;
            gap: 1.5em;
        }

        & > section {
            margin-top: 3.5em;
        }
    }
}
