@use '../../../styles/variables' as vars;

.eye-icon {
    cursor: pointer;
    position: absolute;
    top: 1.3em;
    right: 1em;
    color: vars.$dark-grey;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: vars.$black;
    }
}
