@use '../../../styles/animations' as anim;

.auth-layout {
    display: flex;

    @media (max-width: 1000px) {
        flex-direction: column;
    }
}

.thumbnail {
    flex: 0 0 50%;
    @include anim.animate-fade-in(1.5s);
}

.form {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    padding-inline: clamp(1em, 10vw, 11em);

    @media (max-width: 1000px) {
        order: -1;
        margin-bottom: 3em;
    }
}
