@use '../../../../styles/variables' as vars;

.logo {
    text-decoration: none;
    opacity: 0.8;
    font-weight: 500;
    margin-right: 4em;
    color: vars.$black;
    font-size: 1.6em;
    display: block;
    text-wrap: nowrap;

    @media (max-width: 900px) {
        margin-inline: auto;
        font-size: 1.2em;
    }
}
