@use '../../../styles/animations' as anim;

.user-action {
    h3 {
        text-transform: uppercase;
        margin-left: 4em;
        @include anim.animate-fade-in(0.8s);
    }

    .links {
        display: flex;
        gap: 0.5em;
        margin-bottom: 4em;

        > * {
            @include anim.staggered-slide-in(10, 0.1s, 0.6s);
        }
    }
}
