@use '../.../../../../../styles/variables' as vars;

.secondary-nav {
    background: vars.$white;
    margin-bottom: 1em;
    padding-inline: vars.$layout-inline-padding;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            text-transform: uppercase;
            font-weight: 500;
            display: flex;
            align-items: center;
            line-height: 1;
            gap: 0.5em;
            letter-spacing: 0.1em;
        }
    }
}
