.footer {
    display: flex;
    flex-direction: column;
    padding: 2em;
    background: var(--light-grey);
    border: 0.1em solid var(--medium-gray);
    border-radius: 0.1em;
    overflow: hidden;
}

footer h3,
footer h6 {
    font-variant-caps: all-small-caps;
}

footer h3 {
    margin-bottom: 0.25em;
}

footer h6 {
    font-weight: 500;
    opacity: 0.8;
    margin-bottom: 0.75em;
}

footer .btn {
    margin-bottom: 3em;
    position: relative;
}

footer .btn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1em;
    background: var(--medium-gray);
    bottom: -1.75em;
    letter-spacing: 0;
}

footer li {
    display: flex;
    gap: 0.5em;
    margin-bottom: 0.5em;
    opacity: 0.6;
    align-items: center;
}


.border {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 0.1em solid var(--medium-grey);
}