@use '../../../../../styles/variables' as vars;

.inventory-state {
    display: flex;
    gap: 0.25em;

    .off,
    .on {
        width: 0.45em;
        height: 0.45em;
        display: inline-block;
        border-radius: 50%;
        margin-block: auto;
    }

    .off {
        background: vars.$red;
    }

    .on {
        background: vars.$green;
    }
}
