<input type="text" placeholder="username" #username />
<button (click)="handleInput(username.value)">Handle input</button>

<ul>
	<li *ngFor="let user of users; index as i">
		<span *ngIf="i % 2 == 0" [class]="user?.status">
			Name: {{ user.name }}
		</span>
		<span *ngIf="i % 2 != 0" [class]="user?.status">
			Name: {{ user.name }}
		</span>
	</li>
</ul>

<button (click)="handleClick($event)">Click</button>

<div *ngIf="isToggle">Toggle me!</div>

<p [class.shiny]="isToggle">This text will be shiny on click</p>
<div *ngIf="isToggle" [class]="badCurly">
	<img [attr.src]="imageUrl" />
</div>

<div [style.color]="isToggle ? 'orange' : 'black'">
	This is dynamic color change
</div>

<div [style.background-color]="colorValue">test color</div>
