@use "../../../../../../styles/variables" as vars;

.size-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.3em;
    margin-top: -0.75em;

    li {
        display: flex;
    }

    button {
        flex-grow: 1;
        border: 0.1em solid vars.$medium-grey;
        text-align: center;
        padding: 0.5em;
        cursor: pointer;
    }

    button.selected {
        border-color: vars.$black;
    }

    button:not(.sold-out).error {
        border-color: vars.$red;
    }

    button.sold-out {
        position: relative;
    }

    button.sold-out::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 0.08em;
        background: vars.$medium-grey;
        transform: rotate(-21deg);
        transform-origin: center;
        pointer-events: none;
    }
}
