@use "../../../../styles/variables" as vars;

.nav ul {
    display: flex;
    gap: 0.5em;
    opacity: 0.6;
    font-size: 0.9em;
    padding-inline: vars.$layout-inline-padding;
    padding-top: 1em;

    a {
        text-decoration: none;
        color: vars.$black;
    }
}
