.filter-title {
    display: flex;
    justify-content: space-between;
    border-top: 0.1em solid var(--medium-grey);
    padding-block: 0.7em;
    align-items: center;
}

.filter-title.is-last {
    border-bottom: 0.1em solid var(--medium-grey);
}

.filter-title h5 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-bottom: 0;
}

.filter-title svg {
    width: 1.1em;
    aspect-ratio: 1/1;
    color: var(--grey);
    opacity: 0.4;
}

.filter-item {
    display: none;
    margin-bottom: 1.25em;
}

.filter-item.visible {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
