$white: #ffffff;
$lightest-grey: #f9f9f9;
$light-grey: #f5f5f5;
$medium-grey: #d6d6d6;
$dark-grey: #6b6b6b;
$black: #000000;
$green: #208402;
$red: #d82325;
$pink: #e48cb0;
$blue: #2334a3;
$gold: #efbf04;

$layout-inline-padding: 3dvw;
$layout-inline-padding-desktop: 12dvw;
