.color-selector {
    display: flex;
    gap: 0.75em;
}

.white {
    border: 0.1em solid var(--dark-grey);
    opacity: 0.7;
}

.color-selector > span:nth-child(1) {
    width: 1.3em;
    height: 1.3em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    -webkit-clip-path: view-box;
    clip-path: view-box;
    display: block;
    margin: 0;
}

.color-selector > span:nth-child(2) {
    display: flex;
    gap: 0.25em;
}

.color-selector > span:nth-child(2) span:nth-child(2) {
    opacity: 0.5;
}
