@use '../../../../../../styles/variables' as vars;

.images {
    display: flex;
    gap: 0.5em;

    .thumbnail {
        flex: 0 0 50%;
        display: flex;
        background: vars.$lightest-grey;
    }
}
